@font-face {
    font-family: sctoBold;
    src: url(../fonts/SctoGroteskA-Bold.woff2);
  }
  @font-face {
    font-family: sctoMedium;
    src: url(../fonts/SctoGroteskA-Medium.woff2);
  }
  @font-face {
    font-family: sctoRegular;
    src: url(../fonts/SctoGroteskA-Regular.woff2);
  }
  * {
      margin: 0;
      padding: 0;
  }
  body {
    font-family: sctoRegular;
    color: #252422;
    background: #f4f4f4;
    overflow-x: hidden;
  }
  .body-hero {
      background: #252422;
      color: #f9cdcd;
  }
  .bold {
      font-family: sctoBold;
      font-size: 5em;
  }
  .medium {
    font-family: sctoMedium;
    font-size: 2em;
}
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 3em;
      padding-right: 3em;
  }
  #circle-a {
      padding-bottom: 1em;
      padding-top: 1em;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
  }
  header nav ul{
      display: flex;
      align-items: center;
  }
  header nav ul li {
      list-style: none;
  }
  header nav ul li a {
      padding-right: 2em;
      padding-left: 2em;
  }
  header a {
      text-decoration: none;
      color: #252422;
      width: 8%
  }
  .pink-header a {
    color: #f9cdcd;
  }
  .active {
    text-decoration: underline;
  }
  .small-circle {
    width: 5px;
    height: 5px;
    border: 1px solid #252422;
    background: #252422;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.1em
}
.circle-thinking {
    background: #f9cdcd;;
}
.hero {
    margin: 4em 3em;
    position: relative;
}
.hero article {
    font-size: 4em;
}
#thinking-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em 3em;
}
#here {
    position: absolute;
    right: 0
}
#here div, #impossible {
    width: 57px;
    height: 57px;
    border: 1px solid #252422;
    background: #252422;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.1em;
}
#thinking-hero div, #into {
    background: #f9cdcd;
    width: 57px;
    height: 57px;
    border: 1px solid #f9cdcd;
    border-radius: 50%;
    display: inline-block;
}
#video1 video {
    margin-top: 2em;
    width: 100%
}
#video1 {
    text-align: center
}
#intro {
    border-top: 1px solid #252422;
    border-bottom: 1px solid #252422;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em
}
#intro article {
    display: flex;
    justify-content: space-between;

}
#intro p {
    padding-bottom: 2em;
}
#intro article p {
    padding-right: 20em;
    padding-top: 1.5em;
}
#intro article p:nth-of-type(2) {
    font-size: 15em;
    padding: 0
}
#intro a {
    text-decoration: none;
    font-size: 1em;
    color: #252422;
    display: inline-block;
    padding: 0.5em 2em;
    border: 1px solid #252422;
    border-radius: 15px;
    margin-bottom: 10em;
    margin-top: 3em
}
#intro a:hover, .branded a:hover {
    background: #252422;
    color: #f4f4f4
}
#engagements {
    margin: 10em 3em 5em 3em;
}
#engagements h1, #branded h1 {
    font-size: 2em;
}
#airbnb {
    height: 40px;
    margin-bottom: 7em;
}
#armour {
    height: 40px;
    margin-bottom: 7em;
}
#google {
    height: 40px;
    margin-bottom: 7em;
}
#patagonia {
    height: 40px;
    margin-bottom: 7em;
}
#miller {
   height: 40px;
    margin-bottom: 7em;
}
#engagements h1:nth-of-type(2) {
    margin-bottom: 5em
}
.horizontal {
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    display: grid;
    grid-template-columns: 30% 30% 30% 30% 30%;
    grid-gap: 3em
}

.horizontal div, .horizontal article {
    scroll-snap-align: start;
}
.horizontal div img {
    margin-bottom: 1em
}
.horizontal div h2 {
    font-size: 1em;
}
.horizontal div p:first-of-type {
    width: 20px;
    border: 1px solid #252422 ;
    margin-bottom: 3em
}
.horizontal div p:nth-of-type(2) {
    border-top: 1px solid #252422 ;
    padding-top: 1em;
    padding-bottom: 3em
}
#culture {
    background:  #252422;
    color: #f9cdcd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 5em 0 5em 3em;
}
#video2 {
   width: 90%
}
#culture a {
    text-decoration: none;
    font-size: 1em;
    color:#f9cdcd;
    display: inline-block;
    padding: 0.5em 2em;
    border: 1px solid#f9cdcd;
    border-radius: 15px;
    margin-bottom: 15em;
    margin-top: 5em
}
#culture a:hover, #aside-main a:hover, #awards-intro a:hover {
    color: #252422;
    background: #f9cdcd
}
#featured {
    background:  #252422;
    color: #f9cdcd;
    padding-top: 5em;
    padding-bottom: 2em;
}
#featured img, #news img, #thinking-main img {
    width: 30%
}
#featured article, #thinking-main article {
    display: flex;
    margin: 1em 3em;
}
#featured article:first-of-type, #thinking-main article:first-of-type {
    border-top: 1px solid #f9cdcd;
    border-bottom: 1px solid #f9cdcd;
    padding-top: 2em;
    padding-bottom: 5em
}
#featured article:nth-of-type(2), .thinking-articles {
    border-bottom: 1px solid #f9cdcd;
    padding-top: 2em;
    padding-bottom: 5em
}
#thinking-main article:last-of-type {
    padding-bottom: 7em;
}
.arrow {
    font-size: 2em;
    position: absolute;
    right: 1.5em
}
.thinking-arrow {
  position: absolute;
  right: 1.5em
}
#featured h2, #news h2, #thinking-main h2 {
    width: 60%
}
#featured h1 {
    padding-left: 1.5em;
    font-size: 2em
}
#featured div, #news div, #thinking-main div {
    position: relative
}
#featured div, .news-articles div, #news article:last-of-type div, #thinking-main div {
    padding-left: 1em
}
#featured p, #news p, #thinking-main p {
    position: absolute;
    bottom: 0;
    font-size: 0.7em
}
#featured span, #news span, #thinking-main span {
    display: inline-block;
    padding-left: 2em
}
.collaboration {
    background:  #252422;
    color: #f4f4f4;
    padding: 5em 0;
}
.light-collaboration {
    background: #f4f4f4;
    color: #252422
}
.light-collaboration a {
    color: #252422
}
.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    font-size: 0.8em;
    padding-left: 3em
}
.connect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13em;
    padding-right: 10em;
    padding-bottom: 5em
}
.dark-email {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 1em;
    padding-top: 1em;
    display: block;
    text-decoration: none;
    color: #f4f4f4
}
.light-email {
    border-bottom: 1px solid #252422;
    padding-bottom: 1em;
    padding-top: 1em;
    display: block;
    text-decoration: none;
    color: #252422
}
.light-collaboration .email {
    border-bottom: 1px solid #252422;
}
.connect>span {
    font-size: 2em;
    display: inline-block;
    padding-left: 1.2em;
}
.connect h2 span {
    text-decoration: underline;
}
.contact {
    display: flex;
}
.contact div {
    padding-right: 7em;
}
.social ul li {
    list-style: none;
}
.social ul li a {
    text-decoration: none;
}
.light-a {
    color:#f4f4f4;
}
.circle {
    width: 10px;
    height: 10px;
    border: 1px solid #f4f4f4;
    background: #f4f4f4;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.3em
    
}
.light-collaboration .circle {
    border: 1px solid #252422;
    background: #252422;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#252422;
    color: #f4f4f4;
    padding: 1em 3em;
    font-size: 0.5em
}
.light-footer {
    background: #f4f4f4;
    color: #252422

}
#work-text {
    position: absolute;
    right: 1em;
    width: 25%;
    margin-top: 10em;
}
#work-hero {
    position: relative;
    height: 50vh;
    margin-bottom: 15em;
    margin: 4em 3em;
}
.branded {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    border-top: 1px solid #252422;
    padding-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
}
.branded h1 {
    font-size: 3em;
}
.branded-middle {
    border-bottom: 1px solid #252422;
}
#branded-bottom {
    margin-bottom: 5em
}
.branded a {
    text-decoration: none;
    font-size: 1em;
    color: #252422;
    display: inline-block;
    padding: 0.5em 2em;
    border: 1px solid #252422;
    border-radius: 15px;
    margin-bottom: 5em;
    margin-top: 3em
}
.branded article h1:first-of-type {
    margin-top: 4em;
}
.branded-text {
    margin-top: 2em;
}

.branded article h2 {
    margin-bottom: 2em
}
.branded article:first-of-type {
    border-right: 1px solid #252422;
    padding-right: 2em;
   
}
.branded video, .branded img {
    width: 30vw;
}
.branded video {
    height: 69vh;
}
#news {
    margin-top: 7em;
    margin-bottom: 2em;
}
#news-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10em;
    margin: 0 3em;
}
#news-circle {
    width: 57px;
    height: 57px;
    border: 1px solid #252422;
    background: #252422;
    border-radius: 50%;
    display: inline-block;
}
.news-articles {
    display: flex;
    margin: 1em 3em;
    border-top: 1px solid #252422;
    padding-top: 2em;
    padding-bottom: 5em
}
.adweek {
    border-bottom: 1px solid #252422;
}
#news article:last-of-type {
    padding-top: 2em;
    padding-bottom: 5em;
    display: flex;
    margin: 1em 3em;
    padding-top: 2em;
}
.pink-circle {
    width: 5px;
    height: 5px;
    border: 1px solid #f9cdcd;
    background: #f9cdcd;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.1em
}
#thinking-body {
    background: #252422;
    color: #f9cdcd;
}
#thinking-intro {
    display: flex;
    align-items: center;
    margin: 7em 3em
}
#thinking-intro article {
    width: 25%;
    padding-right: 5em
}
#thinking-intro article h2 {
    padding-bottom: 1em
}
.hidden {
    display: none
}
#aside-main img:hover ~ .hidden {
   display: block
}
#aside-main img:hover {
    height: 300px
}
#aside-main article div {
    border-left: 1px solid #f9cdcd;
    padding-left: 1em;
}
#aside-main article div p:first-of-type {
    height: 70px
}
#aside-main img {
    width: 80%;
}
#aside-main span {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
#aside-anchor {
    display: block;

}
#aside-main a {
    text-decoration: none;
    font-size: 1em;
    color:#f9cdcd;
    display: inline-block;
    padding: 0.5em 2em;
    border: 1px solid#f9cdcd;
    border-radius: 15px;
    margin-bottom: 2em;
}
#about-body {
    background: #252422;
    color: #f9cdcd;
}
#about-hero {
    border-bottom: 1px solid #f9cdcd;
    margin: 4em 3em;
}
#about-hero article:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40em
}
#about-hero p {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2em;
}
#about-gallery {
    display: flex;
    margin: 10em 3em 1.5em 3em;
    border-bottom: 1px solid #f9cdcd;
    padding-bottom: 70em;
}
#about-gallery p:first-of-type {
   padding-top: 30em;
   padding-right: 10em;
}
#about-gallery div:nth-of-type(2) {
    position: relative;

}
#about-gallery figure {
    position: absolute;
}
#img1 {
    left: 0;
    top: 0;
    z-index: 2
}
#img2 {
    left: 70px;
    top: 350px;
    z-index: 3;
}
#img3 {
    left: 130px;
    top: 120px;
    z-index: 1;
    display: flex
}
#img4 {
    left: 200px;
    top: 500px;
    z-index: 0
}
.caption {
    display: block;
    padding-top: 1em
}
#img1:hover, #img2:hover, #img3:hover, #img4:hover {
    z-index:4
}
.body-hero {
    background: #252422;
    color: #3d3030;
}
#about-basic img {
    width: 50%;
    display: block;
    margin-bottom: 1.5em;
}
#about-basic {
    border-bottom: 1px solid #f9cdcd;
    margin-left: 3em;
    margin-right: 3em
}
#about-agency, #about-capabilities {
    margin-left: 3em;
    margin-right: 3em;
    border-bottom: 1px solid #f9cdcd;
}
.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 5em;
}
.about-top p:nth-of-type(3) {
    background: #f9cdcd;
    width: 10px;
    height: 10px;
    border: 1px solid #f9cdcd;
    border-radius: 50%;
    display: inline-block;
}
.about-snapshot {
    display: flex;
    padding-bottom: 2em
}
.about-snapshot div, .about-snapshot h2 {
    padding-right: 5em;
}
.about-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10em;
}
.space {
    padding-top: 2em
}
.about-articles h1 {
    padding-top: 0.1em;
    padding-bottom: 0.1em
}
.number2 p {
    line-height: 2;
}
.number2 h3 {
    padding-bottom: 0.5em
}
#awards-intro {
    padding-bottom: 2em;
    width: 50%;
    padding-left: 14em
}
#awards-intro p {
    font-size: 2em;
}
 #awards-a {
     text-decoration: none;
     font-size: 1em;
     color:#f9cdcd;
     display: inline-block;
     padding: 0.5em 2em;
     border: 1px solid#f9cdcd;
     border-radius: 15px;
     margin-top: 2em;
 }
 #about-awards,#awards-list,#contact-hero {
     margin-right: 3em;
     margin-left: 3em;
 }
 #awards-list {
     position: relative;
     margin-bottom: 20em
 }
 #awards-list h1 {
    opacity: 0.5;
    padding-right: 5em;
}
#awards-list img {
    position: absolute;
    right:0;
    width: 400px;
    display: none;
}
#award-img1 {
    top:-200px
}
#award-img2 {
    top: -100px
}
#award-img3 {
    top: 0
}
#award-img4 {
    top: 100px
}
#award-img5 {
    top: 200px
}
#award-img6 {
    top: 300px
}
#award1:hover, #award2:hover, #award3:hover, #award4:hover, #award5:hover, #award6:hover {
    opacity: 1
}
#award1:hover ~ #award-img1, #award2:hover ~ #award-img2, #award3:hover ~ #award-img3, #award4:hover ~ #award-img4, #award5:hover ~ #award-img5, #award6:hover ~ #award-img6 {
    display: block
}
#contact-hero img {
    width: 100%
}
#contact-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    border-bottom: 1px solid #252422;
    padding-bottom: 10em
}
#contact-hero article:nth-of-type(2) {
    padding-top: 10em
}
#contact-circle {
    width: 30px;
    height: 30px;
    border: 1px solid #252422;
    background: #252422;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10em
}
#contact-box1 {
    margin-top: 5em;
    display: flex
}
#contact-box2 {
    display: flex
}
#contact-box2 h3, #contact-box2 a {
    margin-right: 2em;
}
#contact-box2 a {
    color: #252422;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em
}
#contact-box2 h3 {
    font-family: sctoBold;
    font-size: 1.5em
}
#aside-body {
    background: #252422;
    color: #f9cdcd;
    position: relative;
    padding-left: 2em;
    position: absolute;
}
#aside-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 1.5em;
}
#aside-header div {
    padding-right: 15em;
}
#cross {
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2em;
    right: 4em;
    text-decoration: none;
  
}
.show-aside {
    top: 0;
    right: 0
}
.hide-aside {
    top: 0;
    right: -4000px
}
.contact-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
    margin-top: 2em
}
.contact-top p:nth-of-type(3) {
    background: #252422;
    width: 10px;
    height: 10px;
    border: 1px solid #252422;
    border-radius: 50%;
    display: inline-block;
}
#offices {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 8em;
}
.offices-list img {
    display: inline-block;
    width: 90%

}
.last-list-number, .list-number {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1em;
    width: 90%;
}
.list-number {
    padding-bottom: 1em;
}
.list-container {
    display: flex;
    justify-content: space-between;
}
.offices-list {
    display: flex;
    border-left: 1px solid #252422;
    padding-left: 1em;
}
.last-list-number, .list-number {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1em;
    width: 90%;
}
#border-last {
    border-bottom: 1px solid #252422;
    margin-top: 1em;
}
.list-width {
    width: 50%
}
#contact-follow {
    margin: 3em;
    border-top: 1px solid #252422;
}
.contact-social {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin: 3em
}
.contact-social a {
    color: #252422;
}
.contact-social li {
    list-style: none;
    line-height: 2;
}
.contact-social h2, .contact-social p {
    padding-bottom: 1em;
}
.contact h3 {
    padding-bottom: 1em
}











/* Font: scto-bold, scto-medium, scto-regular
Farbe: #f4f4f4 / #252422 / #f9cdcd */